<a href="https://colab.research.google.com/github/cmgpcinthia/Big_Data_Machine_Learning/blob/main/7_1_Clase11N01_review_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análisis de datos con `pandas`: ejercicios

**NOTAS**
 - Hay muchas formas de resolver cada problema, encuentra la tuya.
 - Crea las celdas extra que necesites.
 - Recuerda que una celda puede ser de tipo Código, o de tipo Markdown. Utiliza las segundas para escribir texto y explicaciones si lo precisas.
 - Intenta crear variables a la hora de resolver los ejercicios.
 - Puedes apoyarte en internet: todos los programadores lo hacemos a diario.

<img width=500 src="https://upload.wikimedia.org/wikipedia/commons/3/31/TitanicBeken.jpg">

Importamos el csv del titanic a un dataframe

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/ESESA Lessons/titanic.csv")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Cada fila representa a un pasajero

Echa un vistazo a las primeras filas del dataframe. Y a las últimas. Y a una muestra aleatoria

In [ ]:
df.shape

(1309, 11)

In [ ]:
df.head()

,Name,Sex,Age,Pclass,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,"Karaic, Mr. Milan",male,30.0,3,0,0,349246,7.8958,NaN,S,0
1,"Dean, Mrs. Bertram",female,33.0,3,1,2,C.A. 2315,20.5750,NaN,S,1
2,"Rice, Mrs. William",female,39.0,3,0,5,382652,29.1250,NaN,Q,0
3,"Davidson, Mrs. Thornton",female,27.0,1,1,2,F.C. 12750,52.0000,B71,S,1
4,"Ridsdale, Miss. Lucy",female,50.0,2,0,0,W./C. 14258,10.5000,NaN,S,1

In [ ]:
df.tail()

,Name,Sex,Age,Pclass,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
1304,"Strilic, Mr. Ivan",male,27.0,3,0,0,315083,8.6625,NaN,S,0
1305,"Bengtsson, Mr. John Viktor",male,26.0,3,0,0,347068,7.7750,NaN,S,0
1306,"Gustafsson, Mr. Karl Gideon",male,19.0,3,0,0,347069,7.7750,NaN,S,0
1307,"Gustafsson, Mr. Anders Vilhelm",male,37.0,3,2,0,3101276,7.9250,NaN,S,0
1308,"McDermott, Miss. Brigdet Delia",female,NaN,3,0,0,330932,7.7875,NaN,Q,1

In [ ]:
df.sample(5)

,Name,Sex,Age,Pclass,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
1208,"Daniels, Miss. Sarah",female,33.0,1,0,0,113781,151.5500,NaN,S,1
15,"Duran y More, Miss. Florentina",female,30.0,2,1,0,SC/PARIS 2148,13.8583,NaN,C,1
606,"Palsson, Mrs. Nils",female,29.0,3,0,4,349909,21.0750,NaN,S,0
1184,"Hakkarainen, Mr. Pekka Pietari",male,28.0,3,1,0,STON/O2. 3101279,15.8500,NaN,S,0
378,"Flynn, Mr. John",male,NaN,3,0,0,368323,6.9500,NaN,Q,0

Cuántos pasajeros hay en este dataframe?

In [ ]:
df['Name'].count()
# Easy way df.shape()

np.int64(1309)

Cuáles son las columnas del dataframe?

In [ ]:
df.columns

Index(['Name', 'Sex', 'Age', 'Pclass', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked', 'Survived'],
      dtype='object')

Cuál es la edad media de los pasajeros? Y la mediana? Cómo interpretas el resultado?

In [ ]:
df['Age'].mean().round(1)
#Demasiado sensible a los datos extremos

np.float64(29.9)

In [ ]:
df['Age'].median()
#Ideal Mediana

28.0

Cuánto costó el billete más caro?

In [ ]:
df['Fare'].max()

512.3292

Cuánto pagaron entre todos los pasajeros?

In [ ]:
df["Fare"].sum().round(0)

np.float64(43550.0)

In [ ]:
round(2_528_254,-6)
#Ejemplo para separar cifras #Ejemplo para redondear hacia abajo

3000000

Filtra el dataframe para ver sólo a las mujeres

In [ ]:
df[df['Sex'] == 'female']
# copy() para crear un nuevo dataframe (df)

,Name,Sex,Age,Pclass,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
1,"Dean, Mrs. Bertram",female,33.0,3,1,2,C.A. 2315,20.5750,NaN,S,1
2,"Rice, Mrs. William",female,39.0,3,0,5,382652,29.1250,NaN,Q,0
3,"Davidson, Mrs. Thornton",female,27.0,1,1,2,F.C. 12750,52.0000,B71,S,1
4,"Ridsdale, Miss. Lucy",female,50.0,2,0,0,W./C. 14258,10.5000,NaN,S,1
5,"Douglas, Mrs. Frederick Charles",female,27.0,1,1,1,PC 17558,247.5208,B58 B60,C,1
...,...,...,...,...,...,...,...,...,...,...,...
1289,"Dahlberg, Miss. Gerda Ulrika",female,22.0,3,0,0,7552,10.5167,NaN,S,0
1298,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.0,3,1,0,350046,7.8542,NaN,S,1
1300,"Connolly, Miss. Kate",female,30.0,3,0,0,330972,7.6292,NaN,Q,0
1302,"Cassebeer, Mrs. Henry Arthur Jr",female,NaN,1,0,0,17770,27.7208,NaN,C,1
1308,"McDermott, Miss. Brigdet Delia",female,NaN,3,0,0,330932,7.7875,NaN,Q,1

Filtra el dataframe para ver sólo a los niños (menores de 15 años)

In [ ]:
df[df['Age'] < 15]

,Name,Sex,Age,Pclass,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
9,"Watt, Miss. Bertha J",female,12.00,2,0,0,C.A. 33595,15.7500,NaN,S,1
10,"Skoog, Miss. Mabel",female,9.00,3,3,2,347088,27.9000,NaN,S,0
35,"Sweet, Mr. George Frederick",male,14.00,2,0,0,220845,65.0000,NaN,S,0
44,"Ryerson, Master. John Borie",male,13.00,1,2,2,PC 17608,262.3750,B57 B59 B63 B66,C,1
72,"Coutts, Master. William Loch ""William""",male,3.00,3,1,1,C.A. 37671,15.9000,NaN,S,1
...,...,...,...,...,...,...,...,...,...,...,...
1243,"Nasser, Mrs. Nicholas",female,14.00,2,1,0,237736,30.0708,NaN,C,1
1261,"Johnson, Master. Harold Theodor",male,4.00,3,1,1,347742,11.1333,NaN,S,1
1291,"Richards, Master. George Sibley",male,0.83,2,1,1,29106,18.7500,NaN,S,1
1301,"Asplund, Master. Filip Oscar",male,13.00,3,4,2,347077,31.3875,NaN,S,0
1303,"Aks, Master. Philip Frank",male,0.83,3,0,1,392091,9.3500,NaN,S,1

Filtra el dataframe para ver sólo a mujeres y niños

In [ ]:
df[(df['Sex'] == 'female') | (df['Age'] < 15)]

,Name,Sex,Age,Pclass,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
1,"Dean, Mrs. Bertram",female,33.00,3,1,2,C.A. 2315,20.5750,NaN,S,1
2,"Rice, Mrs. William",female,39.00,3,0,5,382652,29.1250,NaN,Q,0
3,"Davidson, Mrs. Thornton",female,27.00,1,1,2,F.C. 12750,52.0000,B71,S,1
4,"Ridsdale, Miss. Lucy",female,50.00,2,0,0,W./C. 14258,10.5000,NaN,S,1
5,"Douglas, Mrs. Frederick Charles",female,27.00,1,1,1,PC 17558,247.5208,B58 B60,C,1
...,...,...,...,...,...,...,...,...,...,...,...
1300,"Connolly, Miss. Kate",female,30.00,3,0,0,330972,7.6292,NaN,Q,0
1301,"Asplund, Master. Filip Oscar",male,13.00,3,4,2,347077,31.3875,NaN,S,0
1302,"Cassebeer, Mrs. Henry Arthur Jr",female,NaN,1,0,0,17770,27.7208,NaN,C,1
1303,"Aks, Master. Philip Frank",male,0.83,3,0,1,392091,9.3500,NaN,S,1
1308,"McDermott, Miss. Brigdet Delia",female,NaN,3,0,0,330932,7.7875,NaN,Q,1

Quién era el pasajero más joven y qué edad tenía?

In [ ]:
df["Age"].min()
df[df.Age == df["Age"].min() ]

,Name,Sex,Age,Pclass,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
151,"Dean, Miss. Elizabeth Gladys Millvina",female,0.17,3,1,2,C.A. 2315,20.575,NaN,S,1

Cuántos pasajeros eran menores de 20? Qué porcentaje?

In [ ]:
number = (df.Age < 20).sum()
round(number / df.shape[0] * 100,1)

#df.shape()

np.float64(17.2)

Cual es el decil 8 de la edad?

In [ ]:
df["Age"].quantile(0.80)
#el 80% de los pasajeros tenian hasta 42 años

np.float64(42.0)

Cuánta gente sobrevivió? Cuánta murió?

In [ ]:
df.Survived.sum()

np.int64(500)

In [ ]:
df.shape[0] - df.Survived.sum()

np.int64(809)

Cuánta gente viajaba en cada clase?

In [ ]:
df.Pclass.value_counts().sort_index()

Pclass
1    323
2    277
3    709
Name: count, dtype: int64

In [ ]:
df.Sex.value_counts()

Sex
male      843
female    466
Name: count, dtype: int64

In [ ]:
df.Embarked.value_counts()

Embarked
S    914
C    270
Q    123
Name: count, dtype: int64

Era más probable sobrevivir siendo de primera clase?

In [ ]:
pd.crosstab(df.Pclass, df.Survived)

Survived    0    1
Pclass
1         123  200
2         158  119
3         528  181

In [ ]:
pd.crosstab(df.Pclass, df.Survived, normalize="index").round(2)

#Normalize index para rows

Survived     0     1
Pclass
1         0.38  0.62
2         0.57  0.43
3         0.74  0.26

In [ ]:
pd.crosstab(df.Pclass, df.Survived, normalize="columns").round(2)

#Normalize columns para columnas

Survived     0     1
Pclass
1         0.15  0.40
2         0.20  0.24
3         0.65  0.36

Era más probable sobrevivir siendo mujer?

In [ ]:
pd.crosstab(df.Sex, df.Survived)

Survived    0    1
Sex
female    127  339
male      682  161

In [ ]:
pd.crosstab(df.Sex, df.Survived, normalize="index").round(2)

Survived     0     1
Sex
female    0.27  0.73
male      0.81  0.19

Con cuántos familiares viajaba la gente? (informado en la columna SibSp)

In [ ]:
df.SibSp.value_counts()

SibSp
0    891
1    319
2     42
4     22
3     20
8      9
5      6
Name: count, dtype: int64

Cuántas puertas de embarque había?

In [ ]:
df.Embarked.value_counts()

Embarked
S    914
C    270
Q    123
Name: count, dtype: int64

Crea un dataframe con las personas que viajaban en primera clase

In [ ]:
dfprimera = df[df.Pclass == 1]
dfprimera

,Name,Sex,Age,Pclass,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
3,"Davidson, Mrs. Thornton",female,27.0,1,1,2,F.C. 12750,52.0000,B71,S,1
5,"Douglas, Mrs. Frederick Charles",female,27.0,1,1,1,PC 17558,247.5208,B58 B60,C,1
11,"Taussig, Mrs. Emil",female,39.0,1,1,1,110413,79.6500,E67,S,1
29,"Williams-Lambert, Mr. Fletcher Fellows",male,NaN,1,0,0,113510,35.0000,C128,S,0
30,"Newell, Miss. Marjorie",female,23.0,1,1,0,35273,113.2750,D36,C,1
...,...,...,...,...,...,...,...,...,...,...,...
1283,"Keeping, Mr. Edwin",male,32.5,1,0,0,113503,211.5000,C132,C,0
1293,"Ringhini, Mr. Sante",male,22.0,1,0,0,PC 17760,135.6333,NaN,C,0
1295,"Marvin, Mr. Daniel Warner",male,19.0,1,1,0,113773,53.1000,D30,S,0
1296,"Carrau, Mr. Jose Pedro",male,17.0,1,0,0,113059,47.1000,NaN,S,0
1302,"Cassebeer, Mrs. Henry Arthur Jr",female,NaN,1,0,0,17770,27.7208,NaN,C,1

Crea un dataframe que contenga mujeres y niños

In [ ]:
dffemalemin = df[(df['Sex'] == 'female') | (df['Age'] < 15)]

Crea un dataframe con la gente que no viajara en la `S`

In [ ]:
dfemb = df[df.Embarked != "S"]

Crea un dataframe con todas las "Miss"

In [ ]:
dfmiss = df[df.Name.str.contains("Miss")]
dfmiss

,Name,Sex,Age,Pclass,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
4,"Ridsdale, Miss. Lucy",female,50.0,2,0,0,W./C. 14258,10.5000,NaN,S,1
6,"Moran, Miss. Bertha",female,NaN,3,1,0,371110,24.1500,NaN,Q,1
8,"Bradley, Miss. Bridget Delia",female,22.0,3,0,0,334914,7.7250,NaN,Q,1
9,"Watt, Miss. Bertha J",female,12.0,2,0,0,C.A. 33595,15.7500,NaN,S,1
10,"Skoog, Miss. Mabel",female,9.0,3,3,2,347088,27.9000,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...
1288,"Leitch, Miss. Jessie Wills",female,NaN,2,0,0,248727,33.0000,NaN,S,1
1289,"Dahlberg, Miss. Gerda Ulrika",female,22.0,3,0,0,7552,10.5167,NaN,S,0
1298,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.0,3,1,0,350046,7.8542,NaN,S,1
1300,"Connolly, Miss. Kate",female,30.0,3,0,0,330972,7.6292,NaN,Q,0
1308,"McDermott, Miss. Brigdet Delia",female,NaN,3,0,0,330932,7.7875,NaN,Q,1

Crea una columna booleana que almacene si el pasajero es mayor de edad

In [ ]:
df["Mayor"] = df.Age > 18
df

,Name,Sex,Age,Pclass,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived,Mayor
0,"Karaic, Mr. Milan",male,30.0,3,0,0,349246,7.8958,NaN,S,0,True
1,"Dean, Mrs. Bertram",female,33.0,3,1,2,C.A. 2315,20.5750,NaN,S,1,True
2,"Rice, Mrs. William",female,39.0,3,0,5,382652,29.1250,NaN,Q,0,True
3,"Davidson, Mrs. Thornton",female,27.0,1,1,2,F.C. 12750,52.0000,B71,S,1,True
4,"Ridsdale, Miss. Lucy",female,50.0,2,0,0,W./C. 14258,10.5000,NaN,S,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
1304,"Strilic, Mr. Ivan",male,27.0,3,0,0,315083,8.6625,NaN,S,0,True
1305,"Bengtsson, Mr. John Viktor",male,26.0,3,0,0,347068,7.7750,NaN,S,0,True
1306,"Gustafsson, Mr. Karl Gideon",male,19.0,3,0,0,347069,7.7750,NaN,S,0,True
1307,"Gustafsson, Mr. Anders Vilhelm",male,37.0,3,2,0,3101276,7.9250,NaN,S,0,True
1308,"McDermott, Miss. Brigdet Delia",female,NaN,3,0,0,330932,7.7875,NaN,Q,1,False

Crea una columna con el año de nacimiento del pasajero

In [ ]:
df["YearBorn"] = 1912 - df.Age
df

,Name,Sex,Age,Pclass,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived,Mayor,YearBorn
0,"Karaic, Mr. Milan",male,30.0,3,0,0,349246,7.8958,NaN,S,0,True,1882.0
1,"Dean, Mrs. Bertram",female,33.0,3,1,2,C.A. 2315,20.5750,NaN,S,1,True,1879.0
2,"Rice, Mrs. William",female,39.0,3,0,5,382652,29.1250,NaN,Q,0,True,1873.0
3,"Davidson, Mrs. Thornton",female,27.0,1,1,2,F.C. 12750,52.0000,B71,S,1,True,1885.0
4,"Ridsdale, Miss. Lucy",female,50.0,2,0,0,W./C. 14258,10.5000,NaN,S,1,True,1862.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,"Strilic, Mr. Ivan",male,27.0,3,0,0,315083,8.6625,NaN,S,0,True,1885.0
1305,"Bengtsson, Mr. John Viktor",male,26.0,3,0,0,347068,7.7750,NaN,S,0,True,1886.0
1306,"Gustafsson, Mr. Karl Gideon",male,19.0,3,0,0,347069,7.7750,NaN,S,0,True,1893.0
1307,"Gustafsson, Mr. Anders Vilhelm",male,37.0,3,2,0,3101276,7.9250,NaN,S,0,True,1875.0
1308,"McDermott, Miss. Brigdet Delia",female,NaN,3,0,0,330932,7.7875,NaN,Q,1,False,NaN

Afectó el número de familiares a la probabilidad de sobrevivir?

In [ ]:
pd.crosstab(df.SibSp,df.Survived, normalize="index").round(2)

Survived     0     1
SibSp
0         0.65  0.35
1         0.49  0.51
2         0.55  0.45
3         0.70  0.30
4         0.86  0.14
5         1.00  0.00
8         1.00  0.00

Eran más caros los billetes de primera clase?

In [ ]:
df.groupby(df.Pclass).Fare.mean()

Pclass
1    87.508992
2    21.179196
3    13.302889
Name: Fare, dtype: float64

Eran más jovenes los hombres que las mujeres del titanic?

In [ ]:
df.groupby(df.Sex).Age.median()

Sex
female    27.0
male      28.0
Name: Age, dtype: float64

Crea una columna que almacene si el número de ticket del pasajero contiene alguna letra. Define para ello una función y usa `apply`

Exporta los datos a un csv llamado `titanic_enriched.csv`

In [ ]:
df.to_csv("titanic_enriched.csv")

In [ ]:
def impresion(nombre):
  if nombre[0] == "a" or nombre[0] == "A":
    return nombre.upper()

    print(nombre)
  return result

SyntaxError: invalid syntax (ipython-input-664998358.py, line 2)

In [ ]:
def maslarga(palabra1, palabra2):
  if len(palabra1) > len(palabra2):
    return palabra1
  else:
    return palabra2

In [ ]:
maslarga("Juan","Pepito")

'Pepito'

In [ ]:
import random

In [ ]:
dado = random.choice([1,2,3,4,5,6])

In [ ]:
while True:
  dado = random.choice([1,2,3,4,5,6])
  print(dado)

  if dado == 6 :
    break

4
5
3
5
6

In [ ]:
def tirar_hasta_seis():
  contador = 0

  while True:
    contador +=1
    dado = random.choice([1,2,3,4,5,6])
    print(dado)

    if dado == 6 :
      break

  print()
  print()
  return contador

In [ ]:
tirar_hasta_seis()

6

1